<form class="row g-3 text-dark pb-2 ">
    <div class="col-md-6">
        <label for="name" class="form-label">Product name</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="col-md-6">
        <label for="code" class="form-label">Product code</label>
        <input type="text" class="form-control" id="code">
    </div>
    <div class="col-md-6">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description">
    </div>
    <div class="col-md-6">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" placeholder="Product price">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>