<div class="mx-5 text-center mt-5 gx-0 gy-0">
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.productName}}<span>{{product.productCode}}</span></td>
                        <td>{{product.description}}</td>
                        <td>{{product.price |currency:'EUR':true}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" col-md-7">
            <app-products-edit></app-products-edit>
        </div>
    </div>
</div>